*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://res.cloudinary.com/djuzk5um3/image/upload/v1723673167/pint05_a8kuaj.png");
    background-size: cover;
    background-position: center;
    position: relative;
    animation: backgroundMove 60s ease infinite;
}

.login-page::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;  /* Adjusted max-width */
    width: 100%;
    text-align: center;
    z-index: 1;
    height: auto;  /* Allow height to adjust automatically based on content */
    overflow-y: auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-control {
    margin-bottom: 20px;
    text-align: left;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-control input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.form-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #0056b3;
}